.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-success {
    color: var(--color-success);
}

.color-danger {
    color: var(--color-danger);
}

.color-warning {
    color: var(--color-warning);
}

.color-light {
    color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.color-required {
    color: tomato;
}

.color-optional {
    color: inherit;
}

.color-info {
    color: steelblue;
}

.small {
    font-size: small;
}

body {
    background-color: var(--bg-body);
    color: var(--color-body);
    line-height: 1.6;
}

body main article h2 {
    color: var(--color-b);
}

@media screen and (max-width: 30rem) {
    body main {
        padding: 2.5vw;
    }
}

@media screen and (max-width: 48rem) {
    body main {
        padding: 5vw;
    }
}

@media screen and (max-width: 90rem) {
    body main {
        padding: 7.5vw;
    }
}

@media screen and (min-width: 91rem) {
    body main {
        padding: 10vw;
    }
}

.image-before:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: border-box;
    
}

.agua:before {
    position: fixed;
    content: '';
    bottom: 2vh;
    right: 2vh;
    /* width = height x ratio */
    width: 61.3333vh;
    height: 85.3333vh;
    opacity: 0.2;
    background-image: url(../../../svg/famous_superhero_catwoman.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.portada:before {
    background-image: url();
    opacity: 1;
    - webkit-filter: brightness (1) blur(2px) grayscale (0.8); filter: brightness(1) blur(2px) grayscale(0.8);
}
portada.textos:before {
    background-image: var (--img_css_textos);
    
}
portada.image:before {
    background-image: url(https://www.freepik.es/foto-gratis/fondo-azul-brillante-holografico-pastel-estetico_13301003.htm#query=aesthetic&position=7&from_view=search);
    
}

header.portada h2 {
    position: absolute
        margin: 0;
    padding: 1em;
    width: 100%;
    background: rgba (255,255,255, 0.5);
    top: 25%;
    text-align: center;
    color: white;
}
header.portada {
    position: absolute;
    width: 100%;
    height: 40vh;
}

header portada{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2020/02/09/13/08/banner-4833105_960_720.jpg);
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;
    -webkit-filter: brightness(1) blur(2px) grayscale(0.8);
    filter: brightness(1) blur(2px) grayscale(0.8);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: border-box;
    
}

ul.sociales li {
    display: inline-block;
    
}
    